<header>
    <!-- Sub Navigationmmmmmmmmmm -->
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
      <div class="title-bar-title">Menu</div>
    </div>
    
    <div class="top-bar" id="responsive-menu">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Site Title</li>
          <li class="has-submenu">
            
            <a href="#0">One</a>
            <ul class="submenu menu vertical" data-submenu>
              <li><a href="#0">One</a></li>
              <li><a href="#0">Two</a></li>
              <li><a href="#0">Three</a></li>
            </ul>
          </li>
          <li><a href="#0">Two</a></li>
          <li><a href="#0">Three</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
    </div>
    <!-- /Sub Navigation -->
  
    <div class="top-bar align-center" id="main-menu">
      <ul class="menu vertical medium-horizontal medium-text-center">
        <li class="has-submenu"><a href="#">Tech</a></li>
        <li class="has-submenu"><a href="#">Energy</a> </li>
        <li class="has-submenu"><a href="#">Space</a></li>
        <li class="has-submenu"><a href="#">Medicine</a></li>
        <li class="has-submenu"><a href="#">Robotics</a></li>
        <li class="has-submenu"><a href="#">Tesla</a></li>
      </ul>
    </div>
</header>