//============================================Caja general================================================
.hero-full-screen {
    font-family: 'Libre Baskerville', serif; 
    text-shadow: 1px 2px rgba(10, 10, 10, 0.4);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    //background: url("https://ak4.picdn.net/shutterstock/videos/349114/thumb/1.jpg?i10c=img.resize(height:160)") center center no-repeat;
    background: url("http://i2.cdn.turner.com/cnnnext/dam/assets/151119161154-cnn-special-report-bg-full-169.jpg") center center no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }

  .hero-full-screen .middle-content-section {
    position: absolute;
    top: 27%;
    left: 50%;
    justify-content: center;
    color: #fefefe;
    height: 500px;
    width: 500px;
    text-shadow: 1px 2px rgba(10, 10, 10, 0.4);
  }

  .middle-content-section-left{
    position: absolute;
    top: 27%;
    left: 4%;
  }
  
  .hero-full-screen .top-content-section {
    width: 100%;
  }
  
  .hero-full-screen .bottom-content-section {
    padding: 1rem;
  }
  
  .hero-full-screen .bottom-content-section svg {
    height: 3.75rem;
    width: 3.75rem;
    fill: #fefefe;
  }
  
  .copyright{
    color: #fefefe;
    margin-right: 900px;
    margin-top: 44.7%;
  }