<app-inicio></app-inicio>
<div class="hero-full-screen">
  <div class="cajafull">
    <div class="middle-content-section-left">
        <img style="height: 300px; margin-left: 40%; box-shadow: 10px 10px 8px 10px rgba(10, 10, 10, 0.4);" src="/src/app/grupo.jpg" alt="logo">
    </div>
  <div class="middle-content-section">
    <h1><b>About us</b></h1>
    <hr size="90" width="100%"/>
    <p>
        Somos un grupo de estudiantes de el Centro Educativo
        Técnico Laboral Kinal, que realizaron una aplicación 
        con el fin de poder hacer que los usuarios de la misma
        puedan tener la experiencia de estar enterados día a día
        de todas las actividades, sucesos importanes, logros y 
        fechas importantes. El fin de esta aplicacion es que cada 
        empresa pueda tener informada a sus empleados de las noticias
        en su entorno laboral...
    </p>
 </div> 
</div>
<h6 class="copyright"><hr align="left" size="10" width="900%"/>Daily Plus © 2018 | All Rights Reserved</h6>
</div>
