<app-inicio></app-inicio>
<div class="hero-full-screen">
  <div class="cajafull">
  <div class="middle-content-section">
    <h1><b>Daily Plus</b></h1>
    <hr align="left" size="90" width="100%"/>
    <p>
        Bienvenido a Daily Plus, un lugar en donde podrás enterarte día a día
        de todas las noticias en tu entorno de desarrollo, además de no perderte
        de ninguna actividad relacionada a la empresa o inclusive a sus trabajadores
        y clientes. Disfruta la experiencia.
    </p>
    <img style="height: 100px; margin-left: 40%;" src="https://www.tekna.com/hubfs/ICONS/Earth-Globe.png?t=1538574841296" alt="logo">
  </div>
  <div class="login-box">
     <div class="row collapse expanded">
      <div class="small-12 medium-6 column small-order-2 medium-order-1">
          <div class="login-box-form-section">
                <h1 class="login-box-title">Login</h1>
                <input class="login-box-input" type="text" name="username" placeholder="Username" autocomplete="off"/>
                <input class="login-box-input" type="password" name="password" placeholder="Password" />
                <input class="login-box-submit-button" type="submit" name="signup_submit" value="Login" (click)="verificar()"/>
          </div>
       </div>
    </div>
  </div>    
</div>
<h6 class="copyright"><hr align="left" size="10" width="900%"/>Daily Plus © 2018 | All Rights Reserved</h6>
</div>
