<div class="hero-full-screen" style="overflow: hidden;">
    <div class="top-content-section">
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text">
              <img style="height: 80px;" src="/src/app/d.png" alt="logo">
            </li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/about">About Us</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
          </ul>      
        </div>
        <div class="top-bar-right">
            <h4 style="font-family: 'Amaranth', sans-serif;">Porque la información es necesaria para todos...</h4>
        </div>
      </div>
    </div>
  </div>
