<app-inicio></app-inicio>
<div class="hero-full-screen">
    <div class="cajafull" style="overflow: hidden; background-color: black" >
        <div class="nosotros">
            <img src='/src/app/Oscar.jpg' class='imgRedonda'/>
            <img src='/src/app/Jose.jpg' class='imgRedonda2'/>
        </div>
    <div class="oscar" align="center">
        <pre style="font-family: 'Amaranth', sans-serif;">
            <b style="font-size: 20px;">Contact Details</b>
            Centro Educativo Técnico Laboral Kinal
            Oscar Oswaldo Estrada Morales
            +502 4704-9768
            oestrada.3@gmail.com 
        </pre>
        <div class="redesoscar" align="center">
            <a href="https://fonts.google.com/?selection.family=Amaranth" class="social-icon-button twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a>
            <a href="#" class="social-icon-button facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a>
            <a href="#" class="social-icon-button gplus"><i class="fa fa-google-plus" aria-hidden="true"></i><span></span></a>    
        </div>
        </div>
        <div class="jose" align="center">
            <pre style="font-family: 'Amaranth', sans-serif;">
                <b style="font-size: 20px;">Contact Details</b>
                Centro Educativo Técnico Laboral Kinal
                José Emanuel Salazar Pérez
                +502 5823-9807
                emanuel11102001@gmail.com 
            </pre>
            <div class="redesjose" align="center">
                <a href="https://fonts.google.com/?selection.family=Amaranth" class="social-icon-button twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a>
                <a href="#" class="social-icon-button facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a>
                <a href="#" class="social-icon-button gplus"><i class="fa fa-google-plus" aria-hidden="true"></i><span></span></a>    
            </div>
        </div>
    </div>
  <h6 class="copyright"><hr align="left" size="10" width="900%"/>Daily Plus © 2018 | All Rights Reserved</h6>
</div>



  
  