//============================================Caja general================================================
.hero-full-screen {
    font-family: 'Libre Baskerville', serif; 
    text-shadow: 1px 2px rgba(10, 10, 10, 0.4);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: url("https://ak4.picdn.net/shutterstock/videos/349114/thumb/1.jpg?i10c=img.resize(height:160)") center center no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
  
  .hero-full-screen .middle-content-section {
    position: absolute;
    top: 50%;
    left: 38%;
    color: #fefefe;
    height: 100px;
    width: 500px;
    text-shadow: 1px 2px rgba(10, 10, 10, 0.4);
  }

  .oscar{
    position: absolute;
    top: 53%;
    left: 19.2%;
    color: #fefefe;
    text-shadow: 1px 2px rgba(10, 10, 10, 0.4);
  }

  .redesoscar{
    position: absolute;
    top: 90%;
    left: 8%;
    width: 100%;
  }

  .jose{
    position: absolute;
    top: 53%;
    left: 49%;
    color: #fefefe;
    text-shadow: 1px 2px rgba(10, 10, 10, 0.4);
  }

  .redesjose{

    position: absolute;
    top: 90%;
    left: 10%;
    width: 100%;
  }

  .hero-full-screen .top-content-section {
    width: 100%;
  }
  
  .hero-full-screen .bottom-content-section {
    padding: 1rem;
  }
  
  .hero-full-screen .bottom-content-section svg {
    height: 3.75rem;
    width: 3.75rem;
    fill: #fefefe;
  }

  .imgRedonda{
    position: absolute;
    top: 21%;
    left: 25%;
    width:200px;
    height:200px;
    border-radius:150px;
  }
  
  .imgRedonda2{
    position: absolute;
    top: 21%;
    left: 55%;
    width:200px;
    height:200px;
    border-radius:150px;
  }

  .copyright{
    color: #fefefe;
    margin-right: 900px;
    margin-top: 44.7%;
  }

  //==============================================================Links a redes sociales=============================
  
.social-icon-button {
  border-radius: 3.6rem;
  width: 3.6rem;
  height: 3.6rem;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  background: none;
}

.social-icon-button + .social-icon-button {
  margin-left: 0.25rem;
}

.social-icon-button .fa {
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  line-height: 3.6rem;
  transition: all 0.3s ease-in-out;
}

.social-icon-button span {
  display: block;
  border-radius: 0;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.social-icon-button:hover .fa {
  color: #fefefe;
}

.social-icon-button:hover span {
  display: block;
  border-radius: 3.6rem;
  width: 3.6rem;
  height: 3.6rem;
}

.social-icon-button.gplus {
  color: #dd4b39;
}

.social-icon-button.gplus span {
  background-color: #dd4b39;
}

.social-icon-button.twitter {
  color: #55acee;
}

.social-icon-button.twitter span {
  background-color: #55acee;
}

.social-icon-button.facebook {
  color: #3b5998;
}

.social-icon-button.facebook span {
  background-color: #3b5998;
}

